html, body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, code, em, img, strong, var, b, i, dl, dt, dd, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; font-size: 100%;}

body {
	max-width: 40em;
	padding: 1em 2em 5em 18em;
	font: 1.125em/1.5 'Source Sans Pro', sans-serif;
	background: #fcfcfc;
	color: #333;
}

a:link, a:visited {color: #13a0d3; text-decoration: none; border-bottom: 1px dashed;}
a:hover, a:focus {color: #e88f00; border-bottom-style: solid;}

h1, h2, h3, h4, h5, h6 {color: #444; font-family: 'Neuton', Cambria, Georgia, serif; font-weight: normal;}
h1 {font-size: 3.3333em; line-height: 1.35; margin-top: 0.45em; margin-top: 0;}
h2 {font-size: 2.6667em; line-height: 1.125; margin-top: 0.5625em; padding-bottom: 0.25em; border-bottom: 1px solid #ddd;}
h3 {font-size: 2em; line-height: 1.5; margin-top: 0.75em;}
h4 {font-size: 1.5555em; line-height: 1.125; margin-top: 0.75em; font-style: italic;}
h5 {font-size: 1.1666em; line-height: 1.2857; margin-top: 1.2857em; font-weight: bold;}
h6 {font-size: 1em; margin-top: 1.5em;}

p, blockquote, dl, ol, ul, pre, table {margin-bottom: 1.5em;}
blockquote {margin-left: 1.5em; margin-right: 1.5em;}
ul {list-style: disc outside;}
ul ul {margin: 0 0 0 1.5em; list-style-type: square;}
ol {list-style: decimal outside;}
ol ol {margin: 0 0 0 1.5em; list-style-type: upper-roman;}

hr {margin: 1.5em 0; border: 0; border-top: 1px dashed #aaa;}

pre, code {
	padding: 0 0.25em;
	border: 1px solid #ccc;
	border-radius: 3px;
	background: #f2f2f2;
	font: 0.8888em/1.25 Consolas, monospace;
}
pre {padding: 0.75em; font-size: 0.7777em; overflow: auto;}
code {color: #d14;}
pre code {padding: 0; border: 0; background: transparent; color: inherit;}

#nav {
	list-style: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 15em;
	margin: 0;
	padding-top: 1em;
	background: #222;
}
#nav:after {
	content: '';
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	right: 0;
	width: 10px;
	z-index: 99;
	box-shadow: inset -4px 0 4px rgba(0,0,0,0.4);
}
#nav > li:first-child {border-top: 1px solid #000;}
#nav > li:last-child {border-bottom: 1px solid #444;}

#nav a {
	display: block;
	padding: 4px 15px;
	border-bottom: 1px solid #000;
	border-top: 1px solid #444;
	color: #fafafa;
}
#nav a:hover, #nav a:focus {background: #292929; color: #e88f00;}

#nav ul {
	list-style: none;
	margin: 0;
	overflow: hidden;
	-webkit-transition: max-height 0.5s 10s ease;
	   -moz-transition: max-height 0.5s 10s ease;
	        transition: max-height 0.5s 10s ease;
}
#nav ul a {padding-left: 3em; font-size: 0.6666em;}

.no-touch #nav ul {max-height: 0;}
.no-touch #nav li:hover > ul,
.no-touch #nav a:focus + ul {
	max-height: 900px;
	-webkit-transition-delay: 0s;
	   -moz-transition-delay: 0s;
	        transition-delay: 0s;
}

@media screen and (max-width: 800px) {
	#nav {width: 12em;}
	body {padding-left: 15em;}
}
@media screen and (max-width: 500px) {
	body {font-size: 1em; padding: 0 1em 3em;}
	ol, ul {margin-left: 1.5em;}
	#nav {position: static; width: 100%; padding: 0 1em; margin-left: -1em;}
	#nav:after {display: none;}
}