html, body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, code, em, img, strong, var, b, i, dl, dt, dd, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; font-size: 100%;}

body {
	max-width: 40em;
	padding: 1em 2em 5em 18em;
	font: 1.125em/1.5 'Source Sans Pro', sans-serif;
	background: #fcfcfc;
	color: #333;
}

a:link, a:visited {color: #13a0d3; text-decoration: none; border-bottom: 1px dashed;}
a:hover, a:focus {color: #e88f00; border-bottom-style: solid;}

h1, h2, h3, h4, h5, h6, .pointer {color: #444; font-family: 'Neuton', Cambria, Georgia, serif; font-weight: 400;}
h1 {font-size: 3.3333em; line-height: 1.35; margin-top: 0.45em; margin-top: 0;}
h2 {font-size: 2.6667em; line-height: 1.125; margin-top: 0.5625em; padding-bottom: 0.25em; border-bottom: 1px solid #ddd;}
h3 {font-size: 2em; line-height: 1.5; margin-top: 0.75em;}
h4 {font-size: 1.3333em; line-height: 1.125; margin-top: 0.75em; font-weight: 700;}
h5 {font-size: 1.1666em; line-height: 1.2857; margin-top: 1.2857em; font-weight: 700;}
h6 {font-size: 1em; margin-top: 1.5em;}

p, blockquote, dl, ol, ul, pre, table {margin-bottom: 1.5em;}
blockquote {margin-left: 1.5em; margin-right: 1.5em;}
ul {list-style: disc outside;}
ul ul {margin: 0 0 0 1.5em; list-style-type: square;}
ol {list-style: decimal outside;}
ol ol {margin: 0 0 0 1.5em; list-style-type: upper-roman;}

hr {margin: 1.5em 0; border: 0; border-top: 1px dashed #aaa;}

pre, code {
	padding: 0 0.25em;
	border: 1px solid #ccc;
	border-radius: 3px;
	background: #f2f2f2;
	font: 0.8333em/1.25 Consolas, monospace;
}
pre {padding: 0.75em; font-size: 0.7777em; overflow: auto;}
code {color: #d14;}
h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {font-size: 0.6em;}
pre code {padding: 0; border: 0; background: transparent; color: inherit;}

.pointer {font-size: 1.7777em; margin: 0 0 0.5em;}

#nav {
	list-style: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 15em;
	margin: 0;
	padding-top: 1em;
	background: #222;

	&:after {
		content: '';
		position: absolute;
		display: block;
		top: 0;
		bottom: 0;
		right: 0;
		width: 10px;
		z-index: 99;
		box-shadow: inset -4px 0 4px rgba(0,0,0,0.4);
	}
	> li:first-child {border-top: 1px solid #000;}
	> li:last-child {border-bottom: 1px solid #444;}

	a {
		display: block;
		padding: 4px 15px;
		border-bottom: 1px solid #000;
		border-top: 1px solid #444;
		color: #fafafa;

		&:hover, &:focus {
			background: #292929;
			color: #e88f00;
		}
	}

	ul {
		list-style: none;
		margin: 0;
		overflow: hidden;
		-webkit-transition: max-height 0.5s 10s ease;
		   -moz-transition: max-height 0.5s 10s ease;
		        transition: max-height 0.5s 10s ease;

		a {
			padding-left: 3em;
			font-size: 0.6666em;
		}
	}

	.no-touch & ul {
		max-height: 0;
	}
	.no-touch & li:hover > ul,
	.no-touch & a:focus + ul {
		max-height: 900px;
		-webkit-transition-delay: 0s;
		   -moz-transition-delay: 0s;
		        transition-delay: 0s;
	}
}

/*---------- Code highlighting ----------*/
/* github.com style (c) Vasily Polovnyov <vast@whiteants.net> */
pre .comment,
pre .template_comment,
pre .diff .header,
pre .javadoc {
	color: #998;
	font-style: italic
}
pre .keyword,
pre .css .rule .keyword,
pre .winutils,
pre .javascript .title,
pre .nginx .title,
pre .subst,
pre .request,
pre .status {
	color: #333;
	font-weight: bold
}
pre .number,
pre .hex	.color,
pre .ruby .constant {
	color: #099;
}
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula {
	color: #d14
}
pre .title,
pre .id {
	color: #900;
	font-weight: bold
}
pre .javascript .title,
pre .lisp .title,
pre .clojure .title,
pre .subst {
	font-weight: normal
}
pre .class .title,
pre .haskell .type,
pre .vhdl .literal,
pre .tex .command {
	color: #458;
	font-weight: bold
}
pre .tag,
pre .tag .title,
pre .rules .property,
pre .django .tag .keyword {
	color: #000080;
	font-weight: normal
}
pre .attribute,
pre .variable,
pre .lisp .body {
	color: #008080
}
pre .regexp {color: #009926}
pre .class {
	color: #458;
	font-weight: bold
}
pre .symbol,
pre .ruby .symbol .string,
pre .lisp .keyword,
pre .tex .special,
pre .prompt {
	color: #990073
}
pre .built_in,
pre .lisp .title,
pre .clojure .built_in {
	color: #0086b3
}
pre .preprocessor,
pre .pi,
pre .doctype,
pre .shebang,
pre .cdata {
	color: #999;
	font-weight: bold
}
pre .deletion {background: #fdd;}
pre .addition {background: #dfd;}
pre .diff .change {background: #0086b3;}
pre .chunk {color: #aaa;}

@media screen and (max-width: 800px) {
	#nav {width: 12em;}
	body {padding-left: 15em;}
}
@media screen and (max-width: 500px) {
	body {font-size: 1em; padding: 0 1em 3em;}
	ol, ul {margin-left: 1.5em;}
	#nav {position: static; width: 100%; padding: 0 1em; margin-left: -1em;}
	#nav:after {display: none;}
}